*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(https://images2.alphacoders.com/467/467728.jpg)no-repeat center center fixed;
}
.container{
    height: 25rem;
    width: 5%;
    border: solid 1px;
    margin: 50px auto;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    font-weight: 800;
    background-color: rgba(255, 255, 255, 0.171);
    padding: 10px;
}

.formulario{
    width: 60%;
    height: 80%;
    border: solid 1px;
    margin: 2%;
    border-radius: 5px;
    display: flex;
    float: left;
}

.wrapper{
    width: 50%;
    height: 100%;
    margin: 30px;
    text-align: center;
}

.barras{
    width: 170px;
    border-radius: 5px;
}

#buscar{
    margin-top: 20px;
    height: 35px;
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
    border: 0;
    background-color: rgb(100, 107, 112);
    color: white;
}
#buscar:hover{
    background-color: white;
    color: black;
    border: 1px rgb(100, 107, 112);
    transition: 0.8s;
}


#imagen1{
    height: 15rem;
    width: 15rem;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;top: 2rem;
}

.mostrar{
    border: solid 1px;
    width: 450px;
    height: 200px;
    margin: 300px auto;
}
